/* Style pour le détail d'un film */
.movie-detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin: 20px;
  font-family: 'Arial', sans-serif;
  position: relative; /* Pour permettre le positionnement absolu du cœur */
}

.movie-detail img {
  width: 300px; /* Taille de l'image modérée */
  height: auto;
  border-radius: 10px;
  margin-right: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Ombre portée pour l'image */
}

.movie-detail h1 {
  font-size: 2.5em; /* Taille du titre augmentée */
  margin-bottom: 20px;
  color: #e50914; /* Couleur rouge pour le titre */
  font-weight: 700;
  text-transform: uppercase;
  text-align: left; /* Assure que le titre est aligné à gauche */
  letter-spacing: 3px; /* Espacement des lettres pour un effet moderne */
  margin-top: 0; /* Enlever la marge du haut */
}

.movie-detail p {
  font-size: 1.2em; /* Taille du texte plus grande et plus lisible */
  margin: 12px 0;
  line-height: 1.6; /* Espacement des lignes pour plus de lisibilité */
}

.movie-detail p strong {
  font-weight: bold;
  color: #e50914; /* Couleur rouge pour les éléments importants */
}

.movie-detail .movie-info {
  max-width: 500px; 
}

.movie-detail h1,
.movie-detail p {
  margin-left: 20px;
}

.movie-detail h1 {
  margin-top: 0; 
}

.movie-detail p {
  text-align: left;
}

.movie-detail p:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  border-radius: 8px;
}

/* Icone cœur en haut à droite et en plus petit format */
.favorite-icon {
  position: absolute;
  top: 10px; /* Placer le cœur à 10px du haut */
  right: 10px; /* Placer le cœur à 10px de la droite */
  font-size: 2rem; /* Taille réduite du cœur */
  cursor: pointer;
}

.favorite-icon.favorited {
  color: red; /* Couleur rouge quand ajouté aux favoris */
}
