.watch-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-color: #141414;
    color: white;
    font-family: 'Arial', sans-serif;
}


.filter-container {
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items:center;
  width: 90%;
  color: #fff;
  font-size: 16px;
  margin-top: 90px;
}

.category-select {
  background-color: #1e1e1e;
  height: fit-content;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 10px 10px 0;
}

.search-bar {
  width:40%;
  padding: 1rem 1rem;
  border: none;  
  border-radius: 10px 0 0 10px;
}

.search-bar:focus {
    background-color: #444;
    outline: none;  
    border: none;
}



